.task_complete {
	margin-right: 10px;
	background-color: limegreen;
}

.clearBtn {
	background-color: red;
}

body {
	background-color: #e6e6e6;
}

#poetry {
	font-family: snell roundhand, cursive;
	font-style: italic;
}